.free {
    background: rgb(151, 126, 162);
    height: 500px;
    // padding: 250px;
    // position: relative;

    hr {
        // height: 320px;
        // margin-left: 50px;
        // transform: rotate(-90deg);

    }

}

.freea {
    background: rgb(151, 126, 162);

}

.ror {

    // margin-left: -261px;
    // margin-top: 320px;
}

.fre {


    p {
        font-family: $font;
        font-size: 40px;
    }
}

.hacks {
    text-align: center;

    line-height: 2;

    h2 {
        margin-top: 25%;
    }


    p {}
}

.colour {
    width: 300px;
    height: 400px;
    background: red;
    // margin-left: 38.5%;
    margin-top: 60px;

    img {
        width: 250px;
        height: 300px;
        position: absolute;
        right: 210px;
        bottom: 145px;
    }
}



.herum {
    transform: rotate(-90deg);
}

.tt {
    p {
        width: 200px !important;
    }
}

.wallet {
    width: 120px;
}

.img-resp {


    width: 200px !important;
}

.as {
    margin-left: 40px;
    margin-top: 20px;

    p {
        width: 200px !important;
        font-size: 12px;
        line-height: 1.4;
        margin: 12px 0 22px 0;

    }
}

.lo {

    margin-left: -50px !important;
}

.rig {
    margin-left: 60px;
    margin-top: 20px;

    p {
        width: 200px !important;
        font-size: 12px;
        line-height: 1.4;
        margin: 12px 0 22px 0;

    }

}




// MENU


.menu {

    background: rgb(72, 69, 69);

    color: white;
}

.po {
    span {
        border: 2px solid rgb(255, 238, 238);
        border-radius: 80%;
        padding: 30px;
        font-size: 60px;
        counter-reset: red;
    }
}

.super {
    font-family: $font;
    margin-top: 70px;
    font-size: 30px;
}

.mtt {
    margin-top: 105px !important;
}

.mtp {

    margin-top: 49px !important;
}

.end {
    p {
        font-size: 10px;
        margin-left: 195px;
    }
}

.endd {
    p {
        font-size: 10px;
        margin-right: 110px;
    }
}

.im {
    margin-left: 120px;
}

.freeab {
    background: rgb(151, 126, 162);
    padding: 30px 0 150px 0;

}