.hera {

    background: rgb(89, 85, 85);
    display: float;
    color: white;
    // position: relative;
}

.jq {
    width: 500px;

}


.saq {
    width: 34px;
    height: 30px;
    background: yellow;
}

.hom {
    margin-top: 50px;

}

.dsfa {
    border-left: 1px solid rgb(0, 0, 0);
    height: 320px;
    margin-left: 15%;
    // position: absolute;
    // left: 660px;

}

.qw {
    margin-top: 10% !important;
}

.down {
    background: rgb(0, 174, 255);
    padding: 5px;
    border: none;
    margin-left: 20%;

}

.bi-list {
    width: 100% !important;
}